<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= t('title_pages') %></title>
    
    
    <link rel="stylesheet" id="tve_style_family_tve_flt-css" href="/assets/css/thrive_flat.css" type="text/css" media="all">
    <link rel="stylesheet" id="thrive-css" href="/assets/css/thrive.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/tve_style_cust.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/assets/css/nice-select.css">

    <link rel="icon" href="/assets/images/rs-krone-black.png" sizes="32x32">
    <link rel="icon" href="/assets/images/rs-krone-black.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/assets/images/rs-krone-black.png">
    <meta name="msapplication-TileImage" content="/assets/images/rs-krone-black.png">
  </head>

  <body class="page-template-default page page-id-337 tve-theme-388 thrive-layout-20 tve-desktop-browser tve-chrome-browser">
     <div id="wrapper" class="tcb-style-wrap">
        <div id="content">
           <div class="main-container thrv_wrapper">
              <div id="theme-content-section" class="theme-section content-section">

                 <div class="section-content">
                    <h1 class="" style="text-align: left; margin-top: 3rem"><span class="thrive-shortcode-content" data-attr-link="0" data-attr-rel="0" data-attr-target="0" data-extra_key="" data-option-inline="1" data-shortcode="tcb_post_title" data-shortcode-name="Post title" style="" data-css="tve-u-175ae1f8619">Erkannte Seiten</span></h1>

                    <section class="tcb-post-content tcb-shortcode thrv_wrapper" data-css="tve-u-1711c8af402">
                       <div id="tve_flt" class="tve_flt tcb-style-wrap">
                          <div id="tve_editor" class="tve_shortcode_editor tar-main-content" data-post-id="337">
                             
                             <% pages.forEach(function(page){ %>
                               <%- include('_detected_page', {page: page.page, pageContent: page.content }); %>
                             <% }); %>

                          </div>
                       </div>
                    </section>
                 </div>
              </div>
           </div>
           <div class="main-content-background"></div>
        </div>
     </div>
  </body>
</html>
